_*
bin
obj
*.suo
*.user
*.cache
*.dbmdl
debug
release
.svn
BuildResults.xml
*.results.xml
test-results.html
.tfs-ignore
*.orig
.hg
PrecompiledWeb/*
TraceOutput.log
*.zip
*.dgml
*.userprefs
*.pidb
*.vsp
*.psess
*.log
vstest
App_Readme
BuildFiles
TestResults
Packages
*.sdf