<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorCode.Portable" version="1.0.3" targetFramework="net47" />
  <package id="Markdig" version="0.21.1" targetFramework="net472" />
  <package id="Markdig.SyntaxHighlighting" version="1.1.7" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
</packages>